<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgFxPWteW0SoYj1VAYkVNdMAHkg-qDgsE</string>
	<key>GCM_SENDER_ID</key>
	<string>648151978741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testus.devon.studio.app</string>
	<key>PROJECT_ID</key>
	<string>testus-app</string>
	<key>STORAGE_BUCKET</key>
	<string>testus-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648151978741:ios:bef68bf8f4095820bfebbc</string>
</dict>
</plist>